.container {
  direction: ltr;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
}

.circular-progress {
  min-width: 50px;
  min-height: 50px;
  aspect-ratio: 1 / 1;
  position: relative;
  height: 50%;
  width: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 20px;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 97.5%;
  width: 97.5%;
  border-radius: 50%;
  background-color: #1c1c1c;
  background-size: 19px 19px;
}

.progress-value {
  position: relative;
}
