@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #09090b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-image: url(../src/assets/background_06.png);
  background-position: left top;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-color: #22201e; */
}

.canvas {
  /* opacity: 1;
  background-image: radial-gradient(#000000 0.45px, #22201e 0.45px);
  background-size: 9px 9px; */
}

.builder {
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(
    #22201e 0.9500000000000001px,
    rgb(20, 20, 20) 0.9500000000000001px
  );
  background-size: 19px 19px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.scrollbar-gutter {
  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Aspect hover & active animation START */
.fancy-wrapper {
  --offset: 1px;
  position: relative;
  /* background: white; */
  overflow: hidden;
  /* transition: outline 0.5s ease-in-out; */
  /* transition-property: outline;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms; */
}

.fancy-wrapper:hover {
  outline: 1px solid #065f46;
}

.fancy-wrapper.active {
  outline: 1px solid #065f46;
  background-color: #ecfdf5;
}
.fancy-wrapper:active {
  outline: 1px solid #065f46;
  background-color: #ecfdf5;
  transform: scale(1.05);
}

.fancy-wrapper:hover::before {
  content: "";
  background: conic-gradient(transparent 270deg, #065f46, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 1s linear infinite;
}

.fancy-wrapper::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.fancy-content {
  background: transparent;
  position: relative;
  inset: 0;
  z-index: 10;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
/* Aspect hover animation END */
